@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #707580;
}

.nav-bar {
    position: relative;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    width: fit-content;
    padding: 5px;
    border-radius: 20px;
    z-index: 1;
}

.container .nav-bar p {
    font-size: 1rem;
    margin: 5px;
}

.nav-bar p:hover {
    display: block;
    background: rgb(142, 142, 142);
    border-radius: 1rem;
    padding: 0.4rem;
}

/* section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

section {
    height: 100vh;
}

.one{
    display: flex;
    justify-content: center;
}

.one .home {
    margin: 20px;
}

.home h1 {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 10vh;
}


.card-container{
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    display: flex;
}

.card{
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.front{
    height: 100%;
    width: 100%;
}


/* Flip animation*/
/* 
.card-container {
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    animation: rotate 8s infinite alternate;
}

@keyframes rotate {
    100% {
        transform: rotateY(180deg);
    }

} 

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
*/

.one .home p {
    position: relative;
    color: black;
    font-size: 3vh;
}

.two {
    background: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.76;
}

.three{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;

}

.skills-card{
    margin: .5rem;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: fit-content;
    border-radius: 20px;
    padding: .5rem;
}

.skills-card-individual{
    position: relative;
    height: fit-content;
    width: fit-content;
}

.skills-img{
    margin-top: .8rem;
    margin-left: .8rem;
    margin-right: .8rem;
    height: 4rem;
    width: 4.8rem;
    border-radius: 50%;
}

.skills-name{
    text-align: center;
}

.four {
    background: #fff;
}


@media screen and (min-width: 600px) {

    .container .nav-bar {
        width: max-content;
        margin-left: 20%;
        margin-right: 20%;

    }

    section {
        align-items: center;
    }

    /* .card {
        align-items: center;
        justify-content: center;
    }

    .card img {
        margin: 10px;
        width: 350px;
        height: 350px;

    } */
}