@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #707580;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

header {
    margin: .4rem;
    padding: .4rem;
    background: #313131;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

header:hover {
    /* transform: scale(1.3); */
    left: 50%;
    transform: translateX(-50%);
}

.nav-bar a {
    color: #fff;
}

.nav-bar a:hover {
    color: black;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: small;
    padding: .4rem;
    margin: .2rem;
}

.nav-link:hover {
    transform: scale(1.2);
    background: rgb(109, 109, 109);
    border-radius: 30%;
    padding: .4rem;
}

/* 
.nav-bar {
    position: relative;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    width: fit-content;
    padding: 5px;
    border-radius: 20px;
    z-index: 1;
}

.container .nav-bar p {
    font-size: 1rem;
    margin: 5px;
}

.nav-bar p:hover {
    display: block;
    background: rgb(142, 142, 142);
    border-radius: 1rem;
    padding: 0.4rem;
} */

/* section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

section {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
}

.one {
    display: flex;
    justify-content: center;
}

.one .home {
    margin: 20px;
}

.home h1 {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 10vh;
}

.card-container {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    display: flex;
}

.card {
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.front {
    height: 100%;
    width: 100%;
}


/* Flip animation*/
/* 
.card-container {
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    animation: rotate 8s infinite alternate;
}

@keyframes rotate {
    100% {
        transform: rotateY(180deg);
    }

} 

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
*/

.one .home p {
    position: relative;
    color: #fff;
    font-size: 3vh;
}

.two {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(135deg, rgb(190, 190, 190), rgb(40, 40, 40)); */
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
}

.fa {
    padding: 20px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    text-decoration: none;
    color: #fff;
}

.fa:hover {
    transform: scale(1.3);
}


.three {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg,rgb(0, 132, 11),rgb(109, 114, 255)); */

}

.skills-card {
    margin: 1rem;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: fit-content;
    border-radius: 20px;
    padding: .8rem;

    background: rgba(255, 255, 255, 0.0001);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .7);
    backdrop-filter: blur(100px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.skills-card-individual {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.skills-img {
    margin-top: .8rem;
    margin-left: .8rem;
    margin-right: .8rem;
    height: 4rem;
    width: 5.3rem;
    border-radius: 50%;
}

.skills-name {
    color: #fff;
    text-align: center;
}

.skills-img:hover {
    transform: scale(1.3);
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-card-container {
    height: 70vh;
    width: 80vw;
    gap: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.project-card-container .project-card {
    position: relative;
    width: 10em;
    height: 15em;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
}

.project-card-container .project-card .content {
    padding: 10px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.project-card-container .project-card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.project-card-container .project-card .project-title {
    position: absolute;
    color: #fff;
    opacity: 1;
}

.project-card-container .project-card:hover>.project-title {
    transform: translateY(-100px);
    transition: 0.5s;
    opacity: 0;
}

.project-card-container .project-card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.project-card-container .project-card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/* 
.project-card-container{
    margin: 1rem;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: fit-content;
    border-radius: 20px;
    padding: .8rem;

    background: rgba(255,255,255, 0.0001);
    box-shadow: 20px 20px 50px rgba(0,0,0,.7);
    backdrop-filter: blur(100px);
    border-top: 1px solid rgba(255,255,255, 0.3);
    border-left: 1px solid rgba(255,255,255, 0.3);
} */

@media screen and (min-width: 600px) {

    .container .nav-bar {
        width: max-content;
        margin-left: 20%;
        margin-right: 20%;

    }

    section {
        align-items: center;
    }

    /* .card {
        align-items: center;
        justify-content: center;
    }

    .card img {
        margin: 10px;
        width: 350px;
        height: 350px;

    } */
}
