@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background:#707580;
}

.container .nav-bar{
    position: relative;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    z-index: 1;
}

.container .nav-bar p{
    font-size: 1rem;
    margin: 5px;
}

.nav-bar p:hover{
    display: block;
    background: rgb(142, 142, 142);
    border-radius: 1rem;
    padding: 0.4rem;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
}



.one .home{
    margin: 10px;
}

.one .home h1{
    display: inline-block;;
    position: relative;
    color: black;
    font-size: 10vh;
}

.card {
    position: relative;
 }

.card img{
    margin: 10px;
    width: 280px;
    height: 300px;
}

.one .home p{
    position: relative;
    color: black;
    font-size: 3vh;
}


.two{
    background: #fff;
}

.four{
    background: #fff;
}


@media screen and (min-width: 600px) {

    .container .nav-bar{
        padding-left: 20%;
        padding-right: 20%;
        
    }

    section{
        align-items: center;
    }

    .card{
        align-items: center;
        justify-content: center;
    }

    .card img{
        margin: 10px;
        width: 350px;
        height: 350px;
        
    }
}